<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.songm.common.dao.SeqTableDaoImpl">

	<select id="getSeqNextValue" parameterType="cn.songm.common.dao.SeqBuild"
		resultType="java.lang.String">
		select FUN_SEQ ('${seqName}')
	</select>

</mapper>